<div class="container py-4 py-lg-5">

  <div class="mb-4">
  <h1 class="h3 fw-bold text-primary mb-1">
    {{ text.page.title }}
  </h1>

  <div class="border-bottom border-primary border-2 opacity-75"></div>
</div>

  @if (isLoading()) {

    <div class="d-flex justify-content-center py-5">

      <div
        class="spinner-border text-primary"
        role="status">

        <span class="visually-hidden">
          Loading tasks...
        </span>

      </div>

    </div>

  } @else if (errorMessage()) {

    <!-- Error -->
    <div
      class="alert alert-danger"
      role="alert">

      {{ errorMessage() }}

    </div>

  } @else {

    <section class="mb-5">

      <div class="d-flex justify-content-between align-items-center mb-3">

        <h2 class="h4 fw-bold text-dark mb-0">
          {{ text.page.tasks }}
        </h2>

        @if (tasks().length > 0) {
          <span class="badge text-bg-warning">
            {{ tasks().length }}
          </span>
        }

      </div>

      @if (tasks().length === 0) {

        <div
          class="alert alert-info text-center py-4"
          role="status">

          <h3 class="h5 mb-2">
           {{ text.page.noTasks }}
          </h3>

          <p class="mb-0 text-body-secondary">
            {{ text.page.noTasksDescription }}
          </p>

        </div>

      } @else {

        <div class="row g-4">

          @for (
            task of tasks();
            track task.id
          ) {

            <div class="col-12 col-md-6 col-lg-4">

              <app-task-item
                [task]="task"
                [isDeleting]="deletingTaskId() === task.id"
                (edit)="onEdit(task)"
                (delete)="onDelete(task.id)" />

            </div>

          }

        </div>

      }

    </section>

    <section>

      <div class="row justify-content-center">

        <div class="col-12 col-xl-10">

          <app-task-form
            [taskToEdit]="selectedTask()"
            (taskCreated)="loadTasks()"
            (taskUpdated)="onTaskUpdated()" />

        </div>

      </div>

    </section>

  }

</div>
